{
  "swagger": "2.0",
  "info": {
    "description": "\n# API overview\nSigfox API is used to integrate with the Sigfox platform.\n\nThe API uses the HTTP protocol, following the REST principles (POST, GET, DELETE, PUT requests).\nThe API endpoints accept and return data in the JSON format, with the corresponding \"application/json\" content type header.\n\nThe Sigfox API access differs for every API User based on their profile.\nIf you already have a Sigfox account, you can retrieve the API Documentation customized for your API User directly in json or yaml format.\nThe “how to” procedure is detailed in the [API Documentation](https://support.sigfox.com/docs/api-documentation) article.\n\nThe PUT request is the only request used to edit an existing entity. You don't need to specify each value. If a property is not present in the request, it won't be processed and updated. To remove an optional property, it must be filled in the request with the explicit value NULL.\nIf a property has no value, it won't appear in the result of a GET request.\n\n# Authentication and security\nSigfox API is only accessible using HTTPS, and all API endpoints require authentication credentials (API user login and password).\nAn API User is associated to a group with given profiles. You can view and manage your API User in the [Sigfox Portal](https://backend.sigfox.com/auth/login).\n\nIf you need an API User, follow the [API credential creation](https://support.sigfox.com/docs/api-credential-creation) procedure.\n\nYour API User must remain private. Should the API credentials be compromised, new ones can be generated at any moment, invalidating the previous ones.\nCORS and JSONP are intentionally unsupported. CORS and JSONP JavaScript techniques tends to expose your credentials to your users. If you really need to call Sigfox API from JavaScript in the browser, you must set a reverse proxy on your website.\nBe careful not to use proxy for all requests to Sigfox OSS but to only select the relevant ones.\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n# Usage limits\nAll Sigfox API endpoints are using the same underlying technology that powers the core Sigfox Platform.\nFor Cloud efficiency and security reasons, Sigfox is moving a step forward on API rate limiting, by setting upper bounds for some API endpoints.\nPlease note that a new HTTP response will be returned in case of rate exceeded : “HTTP 429: too many requests”.\n\nFor more information check [API Rate limiting](https://support.sigfox.com/docs/api-rate-limiting) policy. Sigfox reserves the right to modify these limits without notice.\n\n# Versioning\n Sigfox API supports versioning of its endpoints through a version suffix in the endpoint URL. This suffix has the following format: \"vX\", where X is the version number. For example: v2/device.\n All requests must include the version suffix in the endpoint URL.\n Any new backwards-incompatible change will be released in a new version.\n\n Read the [API versioning management](https://support.sigfox.com/docs/api-versioning) to learn more about it.\n\n# Paging\n Some API requests will return a list of data. If the list is longer than the set limit, the items will be retrieved via multiple requests. The paging section in the response will specify a URL for the next request.\n Keep in mind rate limiting policy to manage your requests.\n You can use the limit parameter to limit the number of items to be returned, between 1 and 100 (default). The offset parameter is used to specify a number of items to skip.\n\n# Errors\n Sigfox API uses conventional HTTP response codes to indicate the success or failure of an API request.\n Codes in the 2xx range indicate success.\n Codes in the 4xx range indicate an error that failed given the information provided (e.g. a required parameter missing, a resource was not found, etc.). Often the response will also include a message explaining the error.\n Codes in the 5xx range indicate an error with servers.\n\n For more information please refer to the [Response code article](https://support.sigfox.com/docs/api-response-code-references).\n",
    "version": "2.0",
    "title": "Sigfox API",
    "termsOfService": "https://storage.sbg.cloud.ovh.net/v1/AUTH_669d7dfced0b44518cb186841d7cbd75/prod_docs/55745493-Sigfox_API-Portal_CTU.pdf",
    "contact": { "name": "Sigfox Support", "url": "https://support.sigfox.com" }
  },
  "host": "api.sigfox.com",
  "basePath": "/v2",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [{ "basicAuth": [] }],
  "paths": {
    "/api-users/": {
      "get": {
        "tags": ["ApiUsers"],
        "summary": "Retrieve a list of API users",
        "description": "Retrieve a list of API users according to visibility permissions and request filters.\n",
        "operationId": "listApiUsers",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Defines the other available fields to be returned in the response.\n",
            "required": false,
            "type": "string",
            "enum": [
              "group(name,type,level,bssId,customerBssId)",
              "profiles(name,roles(name,perms(name)))"
            ]
          },
          {
            "name": "profileId",
            "in": "query",
            "description": "Searches for API users with the given profile",
            "required": false,
            "type": "string"
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "Searches for API users who are attached to the given groups",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "csv"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Defines the maximum number of items to return",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Defines the number of items to skip",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "authorizations",
            "in": "query",
            "description": "if true, return the list of actions and resources the user has access",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "title": "ApiUsers",
                  "items": { "$ref": "#/definitions/apiUser" }
                },
                "paging": { "$ref": "#/definitions/paging" }
              },
              "title": "Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string" },
                "allowedMethods": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              },
              "example": {
                "message": "Method PATCH not allowed.",
                "allowedMethods": ["GET", "POST", "PUT", "DELETE"]
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "post": {
        "tags": ["ApiUsers"],
        "summary": "Create an API user",
        "description": "Create a new API user.\n",
        "operationId": "createApiUser",
        "parameters": [
          {
            "in": "body",
            "name": "apiUser",
            "required": true,
            "schema": { "$ref": "#/definitions/apiUserCreation" }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The newly created API user location"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The newly created API user identifier"
                }
              },
              "title": "Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string" },
                "allowedMethods": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              },
              "example": {
                "message": "Method PATCH not allowed.",
                "allowedMethods": ["GET", "POST", "PUT", "DELETE"]
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/api-users/{id}": {
      "get": {
        "tags": ["ApiUsers"],
        "summary": "Retrieve information about an API user",
        "description": "Retrieve information about a given API user.\n",
        "operationId": "getApiUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The API user identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Defines the other available fields to be returned in the response.\n",
            "required": false,
            "type": "string",
            "enum": [
              "group(name,type,level,bssId,customerBssId)",
              "profiles(name,roles(name,perms(name)))"
            ]
          },
          {
            "name": "authorizations",
            "in": "query",
            "description": "if true, return the list of actions and resources the user has access",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": { "$ref": "#/definitions/apiUser" }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "put": {
        "tags": ["ApiUsers"],
        "summary": "Update an API user",
        "description": "Update information about a given API user.\n",
        "operationId": "updateApiUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The API user identifier",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "apiUser",
            "description": "The information to update",
            "required": true,
            "schema": { "$ref": "#/definitions/apiUserEdition" }
          }
        ],
        "responses": {
          "204": { "description": "No Content. Successful response - Updated" },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "delete": {
        "tags": ["ApiUsers"],
        "summary": "Delete an API user",
        "description": "Delete a given API user.\n",
        "operationId": "deleteApiUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The API user identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": { "description": "No Content. Successful response - Deleted" },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/api-users/{id}/profiles": {
      "put": {
        "tags": ["ApiUsers"],
        "summary": "Associate profiles to an API user.",
        "description": "Associate new profiles to a given API user.",
        "operationId": "addProfileToApiUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The API user identifier",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "profileIds",
            "description": "The API profile to update",
            "required": true,
            "schema": { "$ref": "#/definitions/profileIds" }
          }
        ],
        "responses": {
          "204": { "description": "No Content. Successful response - Updated" },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string" },
                "allowedMethods": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              },
              "example": {
                "message": "Method PATCH not allowed.",
                "allowedMethods": ["GET", "POST", "PUT", "DELETE"]
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/api-users/{id}/profiles/{profileId}": {
      "delete": {
        "tags": ["ApiUsers"],
        "summary": "Delete a profile to a given API user.",
        "description": "Delete a profile to a given API user.\n",
        "operationId": "deleteProfileOfApiUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The API user identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "The profile identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": { "description": "No Content. Successful response - Deleted" },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string" },
                "allowedMethods": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              },
              "example": {
                "message": "Method PATCH not allowed.",
                "allowedMethods": ["GET", "POST", "PUT", "DELETE"]
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/api-users/{id}/renew-credential": {
      "put": {
        "tags": ["ApiUsers"],
        "summary": "Generate a new password for an API user",
        "description": "Generate a new password for a given API user.\n",
        "operationId": "renewCredential",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The API user identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "accessToken": {
                  "type": "string",
                  "description": "The new API user's acces token (password)"
                }
              },
              "title": "Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string" },
                "allowedMethods": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              },
              "example": {
                "message": "Method PATCH not allowed.",
                "allowedMethods": ["GET", "POST", "PUT", "DELETE"]
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/contract-infos/": {
      "get": {
        "tags": ["ContractInfos"],
        "summary": "Retrieve a list of contracts",
        "description": "Retrieve a list of contracts according to visibility permissions and request filters.\n",
        "operationId": "listContractInfos",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Searches for contracts containing the given text in their name",
            "required": false,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Searches for contracts who are attached to the given group",
            "required": false,
            "type": "string"
          },
          {
            "name": "groupType",
            "in": "query",
            "description": "Searches for contracts that are attached to a specific group type.\n- 2 -> BASIC\n- 9 -> CHANNEL\n",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "deep",
            "in": "query",
            "description": "Searches for contracts that are attached to the given group and its descendants",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "up",
            "in": "query",
            "description": "Searches for contracts that are attached to the given group and its ancestors",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "orderIds",
            "in": "query",
            "description": "Searches for contracts with the listed orderIds. The elements of the list are separated by comma.",
            "required": false,
            "type": "string"
          },
          {
            "name": "contractIds",
            "in": "query",
            "description": "Searches for contracts IDs that have the listed external (BSS) contractId. The elements of the list are separated by comma.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fromTime",
            "in": "query",
            "description": "Searches for contracts with communication end time superior or equal to given time (in milliseconds since Unix Epoch).",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "toTime",
            "in": "query",
            "description": "Searches for contracts with start time inferior to given time (in milliseconds since Unix Epoch).",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "tokenDuration",
            "in": "query",
            "description": "Searches for contracts with the given token duration in months.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pricingModel",
            "in": "query",
            "description": "Searches for contracts with a given pricing model \n1 -> Pricing model v1\n2 -> Pricing model v2\n3 -> Pricing model v3\n",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "subscriptionPlan",
            "in": "query",
            "description": "Searches for contracts with the given subscription plan:\n0 -> Free order\n1 -> Pay As You Grow (PAYG)\n2 -> Committed Volume Plan (CVP)\n3 -> Flexible Committed Volume Plan (CVP Flex)\n4 -> PACK\n5 -> DevKit\n6 -> Activate\n",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "geolocationMode",
            "in": "query",
            "description": "Searches for contracts with the given geolocation mode (level)\n1 (ATLAS)\n2 (ATLAS_WIFI)\n3 (N/A)\n4 (ATLAS_POV)\n5 (ATLAS_BUBBLE)\n6 (ATLAS_WIFI_PRIVATEDB)\n",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Defines the other available fields to be returned in the response.\n",
            "required": false,
            "type": "string",
            "enum": [
              "group(name,type,level)",
              "order(name)",
              "blacklistedTerritories(group(name,type,level))"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Token representing the page to retrieve",
            "required": false,
            "type": "string"
          },
          {
            "name": "authorizations",
            "in": "query",
            "description": "if true, we return the list of actions and resources the user has access",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": { "$ref": "#/definitions/contractInfo" }
                },
                "paging": { "$ref": "#/definitions/paging" }
              },
              "title": "Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/contract-infos/{id}": {
      "get": {
        "tags": ["ContractInfos"],
        "summary": "Retrieve information about a contract",
        "description": "Retrieve information about a given contract.\n",
        "operationId": "getContractInfo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Contract identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Defines the other available fields to be returned in the response.\n",
            "required": false,
            "type": "string",
            "enum": [
              "group(name,type,level)",
              "order(name)",
              "blacklistedTerritories(group(name,type,level))"
            ]
          },
          {
            "name": "authorizations",
            "in": "query",
            "description": "if true, we return the list of actions and resources the user has access",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": { "$ref": "#/definitions/contractInfo" }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/contract-infos/{id}/bulk/restart": {
      "post": {
        "tags": ["ContractInfos"],
        "summary": "Create a job to restart the devices associated to a contract",
        "description": "Create an async job to restart the devices associated to a contract.\n",
        "operationId": "contractBulkRestart",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Contract identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Job started",
            "schema": {
              "type": "object",
              "properties": {
                "jobId": {
                  "type": "string",
                  "description": "jobId so that the customer is able to request job status"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/contract-infos/bulk/restart/{jobId}": {
      "get": {
        "tags": ["ContractInfos"],
        "summary": "Retrieve a contract async job status for restart action",
        "description": "Retrieve a contract async job status for restart action.\n",
        "operationId": "getContractBulkRestartJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The job identidier (hexademical format)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": { "$ref": "#/definitions/actionJob" }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/contract-infos/{id}/devices": {
      "get": {
        "tags": ["ContractInfos"],
        "summary": "Retrieve the list of devices having a token on the specified contract",
        "description": "Retrieve a list of devices according to visibility permissions and request filters.\n",
        "operationId": "deviceList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The contract info ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceTypeId",
            "in": "query",
            "description": "Returns only devices of the given device type",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Defines the other available fields to be returned in the response.\n",
            "required": false,
            "type": "string",
            "enum": [
              "deviceType(name)",
              "group(name,type,level,bssId,customerBssId)",
              "contract(name)",
              "productCertificate(key)",
              "modemCertificate(name)"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Token representing the page to retrieve",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "title": "Devices",
                  "items": { "$ref": "#/definitions/device" }
                },
                "paging": { "$ref": "#/definitions/paging" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string" },
                "allowedMethods": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              },
              "example": {
                "message": "Method PATCH not allowed.",
                "allowedMethods": ["GET", "POST", "PUT", "DELETE"]
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/coverages/global/predictions": {
      "get": {
        "tags": ["Coverages"],
        "summary": "Retrieve coverage predictions for any location.",
        "description": "Get coverage margins for a selected latitude and longitude, for each\nredundancy level.\nFor more information please refer to the [Global Coverage API article](https://support.sigfox.com/docs/global-coverage-api).\n",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "the latitude",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "lng",
            "in": "query",
            "description": "the longitude",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "The radius of the area in which the coverage results are averaged and returned for a selected location, in meters.\n",
            "required": false,
            "type": "number",
            "default": 300,
            "format": "int"
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "the id of a group to include its operator in the global coverage",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The margins values (dB) for redundancy level 1, 2 and 3",
            "schema": {
              "type": "object",
              "properties": {
                "locationCovered": {
                  "type": "boolean",
                  "description": "True, if the requested location is considered covered."
                },
                "margins": {
                  "type": "array",
                  "description": "Margins",
                  "items": { "type": "number", "format": "int" }
                }
              },
              "title": "Margins",
              "example": { "locationCovered": true, "margins": [47, 32, 17] }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "post": {
        "tags": ["Coverages"],
        "summary": "Retrieve coverage predictions for any batch of locations",
        "description": "Get the coverage margins for multiple points, for each redundancy level.\nSigfox recommends to:\n  -use the bulk endpoint instead when requesting a large number of locations\n  -not request more than 200 locations at a time\n  -wait for the result to be returned before requesting again (avoid multithreading)\nFor more information please refer to the [Global Coverage API article](https://support.sigfox.com/docs/global-coverage-api).\n",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": { "$ref": "#/definitions/globalCoverageRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": { "$ref": "#/definitions/globalCoverageResponse" }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/coverages/global/predictions/bulk": {
      "post": {
        "tags": ["Coverages"],
        "summary": "Retrieve coverage predictions for any batch of locations with asynchronous job",
        "description": "Starting the computation of the coverage margins for multiple points, for each redundancy level.\nFor more information please refer to the [Global Coverage API article](https://support.sigfox.com/docs/global-coverage-api).\n",
        "operationId": "globalPredictionBulkPost",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": { "$ref": "#/definitions/globalCoverageRequest" }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "jobId": {
                  "type": "string",
                  "description": "jobId provided to the customer to request the job status and results"
                }
              },
              "example": { "jobId": "59a0e7e23c8789070995cc4b" }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/coverages/global/predictions/bulk/{jobId}": {
      "get": {
        "tags": ["Coverages"],
        "summary": "Retrieve coverage predictions computed with async job results",
        "description": "Retrieve coverage predictions computation from asynchronous job status and results.\nFor more information please refer to the [Global Coverage API article](https://support.sigfox.com/docs/global-coverage-api).\n",
        "operationId": "globalPredictionBulkGet",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The job's identifier (hexademical format)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": { "$ref": "#/definitions/globalCoverageBulkResponse" }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/coverages/operators/redundancy": {
      "get": {
        "tags": ["Coverages"],
        "summary": "Retrieve coverage redundancy for an operator.",
        "description": "Get operator coverage redundancy for a selected latitude and longitude,\nfor specific device situation.\nFor more information please refer to the [Global Coverage API article](https://support.sigfox.com/docs/global-coverage-api).\n",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "the latitude",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "lng",
            "in": "query",
            "description": "the longitude",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "operatorId",
            "in": "query",
            "description": "The group id related to the operator to get its coverage result. Is required for root sigfox users.\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceSituation",
            "in": "query",
            "description": "The coverage mode.\n- OUTDOOR, max link budget\n- INDOOR, link budget with 20dB margin\n- UNDERGROUND, link budget with 30dB margin\n",
            "required": false,
            "type": "string",
            "default": "INDOOR"
          },
          {
            "name": "deviceClassId",
            "in": "query",
            "description": "The product uplink class from 0 to 3 (0U to 3U).",
            "required": false,
            "type": "number",
            "default": 0,
            "format": "int"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": { "$ref": "#/definitions/redundancyResponse" }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/": {
      "get": {
        "tags": ["Devices"],
        "summary": "Retrieve a list of devices",
        "description": "Retrieve a list of devices according to visibility permissions and request filters.\n",
        "operationId": "listDevices",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The device's identifier (hexadecimal format)",
            "required": false,
            "type": "string"
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "Returns all devices under the given groups (included sub-groups if the parameter deep is equals to true)",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "csv"
          },
          {
            "name": "deep",
            "in": "query",
            "description": "if true, we search by groups and subgroups through the parameter 'groupIds'",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "authorizations",
            "in": "query",
            "description": "if true, we return the list of actions and resources the user has access",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "deviceTypeId",
            "in": "query",
            "description": "Returns all devices of the given device type",
            "required": false,
            "type": "string"
          },
          {
            "name": "operatorId",
            "in": "query",
            "description": "Returns all devices under the given operator",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field on which the list will be sorted. (field to sort ascending or -field to sort descending)",
            "required": false,
            "type": "string",
            "default": "name",
            "enum": ["id", "-id", "name", "-name", "lastCom", "-lastCom"]
          },
          {
            "name": "minId",
            "in": "query",
            "description": "The minimal id of the filtered range, only availble when sort parameter is set to \"id\" or \"-id\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "maxId",
            "in": "query",
            "description": "The maximal id of the filtered range, only availble when sort parameter is set to \"id\" or \"-id\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Defines the other available fields to be returned in the response.\n",
            "required": false,
            "type": "string",
            "enum": [
              "deviceType(name)",
              "group(name,type,level,bssId,customerBssId)",
              "contract(name)",
              "productCertificate(key)",
              "modemCertificate(key)"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Token representing the page to retrieve",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": { "$ref": "#/definitions/device" }
                },
                "actions": { "$ref": "#/definitions/actions" },
                "paging": { "$ref": "#/definitions/paging" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "post": {
        "tags": ["Devices"],
        "summary": "Create a device",
        "description": "Create a new device.\n",
        "operationId": "createDevice",
        "parameters": [
          {
            "in": "body",
            "name": "device",
            "description": "The device to create",
            "required": true,
            "schema": { "$ref": "#/definitions/deviceCreationJob" }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The URI of the new created device"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The device's identifier (hexadecimal format)"
                }
              },
              "example": { "id": "56E3AD" }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "A conflict happened with the current state of the resource."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}": {
      "get": {
        "tags": ["Devices"],
        "summary": "Retrieve information about a device",
        "description": "Retrieve information about a given device.\n",
        "operationId": "getDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorizations",
            "in": "query",
            "description": "if true, we return the list of actions and resources the user has access",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Defines the other available fields to be returned in the response.\n",
            "required": false,
            "type": "string",
            "enum": [
              "deviceType(name)",
              "group(name,type,level,bssId,customerBssId)",
              "contract(name)",
              "productCertificate(key)",
              "modemCertificate(key)"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": { "$ref": "#/definitions/device" }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "put": {
        "tags": ["Devices"],
        "summary": "Update a device",
        "description": "Update a given device.\n",
        "operationId": "updateDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "device",
            "description": "The device to update",
            "required": true,
            "schema": { "$ref": "#/definitions/deviceUpdateJob" }
          }
        ],
        "responses": {
          "204": { "description": "No content" },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "delete": {
        "tags": ["Devices"],
        "summary": "Delete a device",
        "description": "Delete a given device.\n",
        "operationId": "deleteDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": { "description": "No content" },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}/callbacks-not-delivered": {
      "get": {
        "tags": ["Devices"],
        "summary": "Retrieve a list of undelivered callbacks",
        "description": "Retrieve a list of undelivered callbacks and errors for a given device, in reverse chronological order (most recent message first). SNR will be deprecated (see [Newsletter](https://backend.sigfox.com/welcome/news) for details). To monitor radio link quality, please use the [Link Quality Indicator (LQI)](https://support.sigfox.com/docs/link-quality:-general-knowledge) which is more relevant than SNR in Sigfox network.\n",
        "operationId": "getCallbackMessagesErrorListForDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Starting timestamp (in milliseconds since the Unix Epoch)",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "before",
            "in": "query",
            "description": "Ending timestamp (in milliseconds since the Unix Epoch)",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": { "$ref": "#/definitions/deviceErrorMessages" }
                },
                "paging": { "$ref": "#/definitions/paging" }
              },
              "example": {
                "data": [
                  {
                    "deviceId": "123D5",
                    "deviceTypeId": "5964a10570c85b51ccbaf497",
                    "time": 1487065942000,
                    "data": "DEADBEEF",
                    "snr": 27.4,
                    "status": "202",
                    "messages": "OK",
                    "callback": {
                      "subject": "email title",
                      "message": "email body"
                    },
                    "parameters": { "key1": "value1", "key2": "value2" }
                  },
                  {
                    "deviceId": "2",
                    "deviceTypeId": "5964a10570c85b51ccbaf497",
                    "time": 1487069845000,
                    "data": "1234ABCD",
                    "snr": 78.65,
                    "status": "500",
                    "messages": "Internal Server Error",
                    "callback": {
                      "url": "www.google.com",
                      "header": { "header1": "value1", "header2": "value2" },
                      "body": { "value1": "ok", "value2": true, "value3": 123 },
                      "contentType": "application/json",
                      "method": "POST",
                      "error": "JSON body could not be evaluated"
                    },
                    "parameters": { "key3": 123, "key4": false }
                  }
                ],
                "paging": { "next": "http://next-url-to-request" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}/certificate/modem": {
      "get": {
        "tags": ["Devices"],
        "summary": "Retrieve the modem certificate associated with a device",
        "description": "Retrieve the modem certificate associated with a device.\n",
        "operationId": "getModemCertificateInfo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Defines the other available fields to be returned in the response.\n",
            "required": false,
            "type": "string",
            "enum": ["manufacturer(name)"]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": { "$ref": "#/definitions/modemCertificate" }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}/certificate/product": {
      "get": {
        "tags": ["Devices"],
        "summary": "Retrieve the product certificate associated with a device",
        "description": "Retrieve the product certificate associated with a device already registered.\n",
        "operationId": "getProductCertificateInfo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Defines the other available fields to be returned in the response.\n",
            "required": false,
            "type": "string",
            "enum": ["manufacturer(name)"]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": { "$ref": "#/definitions/productCertificate" }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}/product-certificate": {
      "get": {
        "tags": ["Devices"],
        "summary": "Retrieve the product certificate associated with a device ID and PAC",
        "description": "Retrieve the product certificate associated with a given device ID and PAC, when the device has not already been created on the portal, only in CRA\n",
        "operationId": "getProductCertificateInfoWithPac",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          },
          {
            "name": "pac",
            "in": "query",
            "description": "The device's PAC (hexadecimal format)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/productCertificateWithPacResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}/consumption/{year}": {
      "get": {
        "tags": ["Devices"],
        "summary": "Retrieve a device's consumption for a year",
        "description": "Retrieve a device's consumption for a given year.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "path",
            "description": "The year of consumption",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": { "$ref": "#/definitions/deviceConsumption" }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}/consumption/{year}/{month}": {
      "get": {
        "tags": ["Devices"],
        "summary": "Get a Device's consumption for a given month",
        "description": "Retrieve a device's consumption for a given month during a given year.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "path",
            "description": "The year of consumption",
            "required": true,
            "type": "integer"
          },
          {
            "name": "month",
            "in": "path",
            "description": "The month of consumption",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": { "$ref": "#/definitions/deviceConsumption" }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}/disengage": {
      "post": {
        "tags": ["Devices"],
        "summary": "Disengage sequence number check for the next message",
        "description": "Disable sequence number check for the next message.\n",
        "operationId": "deviceSeqNumberDisengage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": { "description": "No content" },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}/messages": {
      "get": {
        "tags": ["Devices"],
        "summary": "Retrieve a list of messages",
        "description": "Retrieve a list of messages for a given device according to request filters. SNR will be deprecated (see [Newsletter](https://backend.sigfox.com/welcome/news) for details). To monitor radio link quality, please use the [Link Quality Indicator (LQI)](https://support.sigfox.com/docs/link-quality:-general-knowledge) which is more relevant than SNR in Sigfox network.\n",
        "operationId": "getDeviceMessagesListForDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Defines the other available fields to be returned in the response.\n",
            "required": false,
            "type": "string",
            "enum": [
              "oob",
              "ackRequired",
              "device(name)",
              "rinfos(cbStatus,rep,repetitions,baseStation(name))",
              "downlinkAnswerStatus(baseStation(name))"
            ]
          },
          {
            "name": "since",
            "in": "query",
            "description": "Starting timestamp (in milliseconds since the Unix Epoch)",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "before",
            "in": "query",
            "description": "Ending timestamp (in milliseconds since the Unix Epoch)",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": { "$ref": "#/definitions/deviceMessage" }
                },
                "paging": { "$ref": "#/definitions/paging" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "412": { "description": "Precondition Failed" },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}/messages/metric": {
      "get": {
        "tags": ["Devices"],
        "summary": "Retreive the number of messages",
        "description": "Return the number of messages for a given device, for the last day, last week and last month.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "lastDay": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of device messages for the last day"
                },
                "lastWeek": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of device messages for the last week"
                },
                "lastMonth": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of device messages for the last month"
                }
              },
              "example": { "lastDay": 387, "lastWeek": 763, "lastMonth": 3268 }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}/locations": {
      "get": {
        "tags": ["Devices"],
        "summary": "Retrieve the locations of a device",
        "description": "Retrieve a list of location data of a device according to request filters.\n",
        "operationId": "getDeviceLocationsList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          },
          {
            "name": "oob",
            "in": "query",
            "description": "if true, the method return also the location from out of band Messages",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Starting timestamp (in milliseconds since the Unix Epoch)",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "before",
            "in": "query",
            "description": "Ending timestamp (in milliseconds since the Unix Epoch)",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": { "$ref": "#/definitions/deviceLocation_2" }
                },
                "paging": { "$ref": "#/definitions/paging" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/{id}/unsubscribe": {
      "put": {
        "tags": ["Devices"],
        "summary": "Unsubscribe a device",
        "description": "Set an unsubscription date for the device's token.\n",
        "operationId": "Unsubscribe",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Device identifier (hexadecimal format)",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "unsubscriptionTime",
            "description": "the unsubscription time (in milliseconds since the Unix Epoch)",
            "required": true,
            "schema": { "$ref": "#/definitions/tokenUnsubscribe" }
          }
        ],
        "responses": {
          "204": { "description": "No content" },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "The requested resource was not found."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/bulk": {
      "post": {
        "tags": ["Devices"],
        "summary": "Create multiple devices",
        "description": "Create multiple new devices with asynchronous job\n",
        "operationId": "createBulkDevice",
        "parameters": [
          {
            "in": "body",
            "name": "devices",
            "description": "The devices to create",
            "required": true,
            "schema": { "$ref": "#/definitions/asynchronousDeviceCreationJob" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of device to create"
                },
                "jobId": {
                  "type": "string",
                  "description": "jobId (to use in job status request)"
                }
              },
              "example": { "total": 100, "jobId": "5a5896f93007ab520cb54108" }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "A conflict happened with the current state of the resource."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "put": {
        "tags": ["Devices"],
        "summary": "Update multiple devices",
        "description": "Update or edit multiple devices with asynchronous job.\n",
        "operationId": "deviceBulkEditAsync",
        "parameters": [
          {
            "in": "body",
            "name": "devices",
            "description": "The devices to edit",
            "required": true,
            "schema": { "$ref": "#/definitions/asynchronousDeviceEditionJob" }
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Group Identifier use to create the devices",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Job started",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of devices to edit"
                },
                "jobId": {
                  "type": "string",
                  "description": "jobId (to use in job status request)"
                }
              },
              "example": { "total": 100, "jobId": "5a5896f93007ab520cb54108" }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": { "$ref": "#/definitions/ErrorContent" }
          },
          "401": {
            "description": "Unauthorized. Authentication (ID/password) error."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You are not allowed to access the resource."
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "A conflict happened with the current state of the resource."
                }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "parameters": []
    },
    "/devices/bulk/{jobId}": {
      "get": {
        "tags": ["Devices"],
        "summary": "Retrieve the status of a job",
        "description": "Retrieve the status of an asynchronous job for devices.\n",
        "operationId": "getBulkJobForDevice",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
[...]
